{% extends "base.html" %}
{% load humanize %}
{% load customfilter %}

{% block pageContent %}
<!--Section: Content-->
<section class="">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12 card card-default rounded-0 shadow border border-dark">
            <div class="card-body">
                <div class="container-fluid">
                    <h1 class="text-center {{ employees_color }}">{{ employees|intcomma }}</h1>
                    <h3 class="text-center"><b>Total de Patrimônios</b></h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12 card card-default rounded-0 shadow border border-dark">
            <div class="card-body">
                <div class="container-fluid">
                    <h1 class="text-center {{ ordens_color }}">{{ ordens|intcomma }}</h1>
                    <h3 class="text-center"><b>Total de Ordens de Serviço</b></h3>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock pageContent %}
