{% load qr_code %}{% load static %}
<script src="{% static 'assets/instascan.min.js' %}"></script>
<style>
    /* Estilos CSS aqui */
</style>

<div class="container-fluid">
    <div id="scanner-holder" class="position-relative">
        <video id="scanner"></video>
        <div id="scanner-focus" class="position-absolute"></div>
    </div>
</div>

<script>
    const videoElement = document.getElementById('scanner');
    let currentStream = null;

    function stopCurrentStream() {
        if (currentStream) {
            currentStream.getTracks().forEach(track => track.stop());
        }
    }

    function startScanner(facingMode) {
        stopCurrentStream();
        const constraints = {
            video: {
                facingMode: facingMode
            }
        };
        navigator.mediaDevices.getUserMedia(constraints)
            .then(function (stream) {
                currentStream = stream;
                videoElement.srcObject = stream;
            })
            .catch(function (e) {
                console.error('Erro ao acessar a câmera:', e);
            });
    }

    const scanner = new Instascan.Scanner({ video: videoElement, mirror: false });
    scanner.addListener('scan', function (content) {
        $('.modal').modal('hide');
        start_loader();
        setTimeout(() => {
            uni_modal("Detalhes do Funcionário", "{% url 'scanned-code' %}/" + content, 'modal-md');
            scanner.stop();
        }, 500);
    });

    document.addEventListener('DOMContentLoaded', function () {
        // Verificar se é um dispositivo iOS
        const isIOS = /iPad|iPhone|iPod/.test(navigator.userAgent);
        // Definir o modo de frente como padrão se for iOS
        const facingMode = isIOS ? 'user' : 'environment';
        startScanner(facingMode);

        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
                scanner.start(cameras[0]);
            } else {
                console.error('Nenhuma câmera encontrada.');
            }
        }).catch(function (e) {
            console.error(e);
        });
    });

    $('#uni_modal').on('shown.bs.modal', function () {
        if ($('#scanner').length > 0) {
            scanner.stop();
            const isIOS = /iPad|iPhone|iPod/.test(navigator.userAgent);
            const facingMode = isIOS ? 'user' : 'environment';
            startScanner(facingMode);
        }
    });

    $('#uni_modal').on('hide.bs.modal', function () {
        scanner.stop();
        stopCurrentStream();
    });
</script>
