{% load qr_code %}{% load static %}
<script src="{% static 'assets/instascan.min.js' %}"></script>
<style>
    #scanner-holder {
        position: relative;
    }

    #scanner {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
</style>
<div class="container-fluid">
    <div id="scanner-holder">
        <video id="scanner"></video>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const videoElement = document.getElementById('scanner');

        if (videoElement) {
            let scanner = new Instascan.Scanner({ video: videoElement, mirror: false });

            scanner.addListener('scan', function (content) {
                alert('Conteúdo escaneado: ' + content);
            });

            Instascan.Camera.getCameras().then(function (cameras) {
                if (cameras.length > 0) {
                    let backCamera = cameras.find(camera => camera.name.toLowerCase().includes('back') || camera.id.toLowerCase().includes('back'));
                    if (backCamera) {
                        scanner.start(backCamera);
                    } else {
                        scanner.start(cameras[0]);
                    }
                } else {
                    console.error('No cameras found.');
                }
            }).catch(function (e) {
                console.error(e);
            });
        } else {
            console.error('Elementos HTML não encontrados.');
        }
    });
</script>
