{% load qr_code %}
{% load static %}

<script src="{% static 'assets/instascan.min.js' %}"></script>
<style>
    #uni_modal .modal-footer {
        display: none;
    }

    #uni_modal .modal-sub-footer {
        display: flex;
    }

    #scanner {
        width: 100%;
        height: 50vh;
        margin: 0 auto;
        position: relative;
        object-fit: cover;
        object-position: center center;
    }

    #scanner-focus {
        background: #00000085;
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
        clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    #qr-detected {
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        display: none;
    }

    #action-button {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<div id="qr-detected">QR Code Detectado!</div>
<div class="container-fluid">
    <div id="scanner-holder" class="position-relative">
        <video id="scanner"></video>
        <div id="scanner-focus" class="position-absolute"></div>
    </div>
</div>
<div id="action-button">Iniciar Leitura</div>

<script>
    const scanner = new Instascan.Scanner({ video: document.getElementById('scanner'), mirror: false });
    let qrDetectedTimeout;

    scanner.addListener('scan', function(content) {
        $('#qr-detected').fadeIn();
        clearTimeout(qrDetectedTimeout);
        qrDetectedTimeout = setTimeout(function() {
            $('#qr-detected').fadeOut();
        }, 2000);

        $('.modal').modal('hide');
        start_loader();
        setTimeout(() => {
            uni_modal("View Employee Details", "{% url 'scanned-code' %}/" + content, 'modal-md');
            scanner.stop();
        }, 500);
    });

    $('#action-button').click(function() {
        startScanner();
    });

    function startScanner() {
        Instascan.Camera.getCameras().then(function(cameras) {
            if (cameras.length > 0) {
                let selectedCamera = cameras[0];
                cameras.forEach(camera => {
                    if (camera.name.toLowerCase().includes('back')) {
                        selectedCamera = camera;
                    }
                });
                scanner.start(selectedCamera);
            } else {
                console.error('No cameras found.');
            }
        }).catch(function(e) {
            console.error(e);
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        startScanner();
    });

    $('#uni_modal').on('hide.bs.modal', function() {
        scanner.stop();
    });
</script>
